@use '~/styles/mixins' as *;

.latest-works-section{
  @include padding-container;
  @include section-padding-top;
}

.latest-works-list{  
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include media(tablet){
    gap: 64px;
  }

  @include media(laptop){
    flex-direction: row;
    gap: 32px;
  }
}