@use '~/styles/mixins' as *;

.contact-form {
  width: min(100%, 376px);
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-container {
  position: relative;
  padding-top: 14px;
}

.item-container label {
  position: absolute;
  padding-inline: 8px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: var(--dark);
  background-color: var(--white);
  top: 0;
  left: 8px;
}

.item-container input {
  width: 100%;
  height: 56px;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding-inline: 16px;
  color: var(--darkish-gray);
}

.item-container textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding: 16px;
}

.submit-btn {
  width: 100%;
  height: 56px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 600;

  &:hover {
    outline: 1px solid var(--primary);
    background-color: var(--white);
    color: var(--primary);
  }
}

