@use '~/styles/mixins.scss' as *;

.navbar {
  @include padding-container;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: -56px;

  @include media(tablet) {
    height: 68px;
  }

  @include media(laptop) {
    height: 96px;
  }

  &[data-position='fixed'] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    background: var(--white);
    transition: top 0.25s;    
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
  }
}

.logo-link {
  width: 130px;
  display: grid;
  place-content: center;

  @include media(tablet) {
    width: 162px;
  }

  @include media(laptop) {
    width: 203px;
  }
}

.sidebar-container {
  position: fixed;
  width: min(100%, 320px);
  height: 100vh;
  top: 0;
  left: -320px;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  @include media(laptop) {
    display: contents;
  }

  &[data-status='open'] {
    left: 0;
    transition: left 0.25s;
  }
}

.close-btn {
  display: grid;
  place-content: center;
  align-self: flex-end;

  @include media(laptop) {
    display: none;
  }
}

.navlink-list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(laptop) {
    flex-direction: row;
    margin-top: 0;
    gap: 48px;
  }
}

.navlink {
  font-size: 16px;
  font-weight: 600;
  color: var(--darkish-gray);

  @include media(laptop) {
    font-weight: 400;

    &:hover{
      font-weight: 600;
    }
  }
}

.social-media-links {
  margin-top: 48px;

  @include media(laptop) {
    margin-top: 0;
  }
}

.menu-btn {
  display: grid;
  place-content: center;

  @include media(laptop) {
    display: none;
  }
}

.backdrop {
  display: none;
}

.sidebar-container[data-status='open']~.backdrop {
  display: block;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
}