@use 'sass:map';
@use 'sass:math';

//media query
$breakpoints: (
  mobile: 360px,
  tablet: 720px,
  laptop: 1120px,
  desktop: 1520px,
);

@mixin media($size) {
  $breakpoint: map.get($breakpoints, $size);

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}


@function rem($px) {
  $html-font-size: 16;
  @return #{math.div($px, $html-font-size)}rem;
}